In [2]:
2+1

3

In [3]:
2-1

1

In [5]:
2*22

44

In [6]:
3/2

1.5

In [7]:
7/4

1.75

In [8]:
50 %5

0

In [9]:
23 % 2

1

In [10]:
2 ** 3

8

In [11]:
(2+10) * (10+3)

156

In [12]:
#variable assignment

In [13]:
a=5

In [14]:
a

5

In [15]:
a=10

In [16]:
a

10

In [17]:
a+a

20

In [18]:
type(a)

int

In [25]:
my_income = 100
tax_rate = 0.1

In [26]:
my_income

100

In [27]:
tax_rate

0.1

In [28]:
#string

In [29]:
'hello'

'hello'

In [30]:
"world"

'world'

In [31]:
'this i also a string'

'this i also a string'

In [32]:
"I 'm going on run"

"I 'm going on run"

In [33]:
print('hello')

hello

In [34]:
print("world")

world

In [35]:
print("hello \n world")

hello
 world

In [36]:
print("hello \t world")

hello 	 world

In [37]:
len("hello")

5

In [38]:
len('I am')

4

In [39]:
#string indexing and slicing

In [40]:
mystring="hello world"

In [42]:
mystring

'hello world'

In [43]:
mystring[0]

'h'

In [44]:
mystring[8]

'r'

In [45]:
mystring[9]

'l'

In [46]:
mystring[-2]

'l'

In [53]:
mystring = "abcdefghijk"

In [54]:
mystring

'abcdefghijk'

In [55]:
mystring[2:]

'cdefghijk'

In [56]:
mystring[:3]

'abc'

In [57]:
mystring

'abcdefghijk'

In [58]:
mystring[3:6]

'def'

In [59]:
mystring[1:3]

'bc'

In [60]:
#step size

In [61]:
mystring[::2]

'acegik'

In [62]:
mystring[::-1]

'kjihgfedcba'

In [64]:
#string properties and methods
#immutablility

In [65]:
name = "sam"

In [66]:
name[1:]

'am'

In [68]:
"p" + name

'psam'

In [69]:
letter ='z'

In [70]:
letter *10

'zzzzzzzzzz'

In [71]:
x = "hello world"

In [72]:
x.isascii()

True

In [74]:
x.upper()

'HELLO WORLD'

In [75]:
x.lower()

'hello world'

In [76]:
x.split()

['hello', 'world']

In [77]:
x = 'Hi thi is a string'

In [79]:
x.split()

['Hi', 'thi', 'is', 'a', 'string']

In [80]:
print("hello")

hello

In [82]:
#string interpolation
#sticking a variable into string

In [84]:
print('this is a string {}'. format("INSERTED"))

this is a string INSERTED

In [86]:
print('The {0} {1} {2}'.format('fox','brown','quick'))

The fox brown quick

In [87]:
result = 100/777

In [88]:
result

0.1287001287001287

In [93]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.129

In [94]:
#list

In [95]:
my_list =[1,2,3,4]

In [96]:
len(my_list)

4

In [97]:
mylist = ['one','two','three']

In [98]:
mylist[0]

'one'

In [99]:
mylist[1:]

['two', 'three']

In [100]:
#dictionaries 
#key value pare

In [101]:
my_dict ={'key1':'value1', 'key2':'value2'}

In [102]:
my_dict['key1']

'value1'

In [106]:
#tuples
#this are immutable ( we can not change value once assigned)
#they use ( ) ==>Tuples insted of [] ==> list

In [107]:
t = (1,2,3)

In [117]:
mylist =[1,2,3]

In [118]:
t.count(1)

1

In [119]:
t.index(3)

2

In [120]:
t

(1, 2, 3)

In [123]:
mylist[0]= "NEW"

In [124]:
mylist

['NEW', 2, 3]

In [ ]:
#sets unorder collection

In [126]:
myset = set()

In [127]:
myset

set()

In [128]:
myset.add(1)

In [129]:
myset

{1}

In [130]:
myset.add("jack")

In [131]:
myset

{1, 'jack'}

In [132]:
#boolean

In [133]:
True

True

In [134]:
False

False

In [136]:
1>2

False

In [137]:
#Files

In [138]:
%%writefile myfile.txt
Hello this is text file 
this is the second line
this is third line

Writing myfile.txt

In [139]:
myfile = open('myfile.txt')

In [140]:
pwd

'C:\\Zspark\\Python'

In [141]:
myfile = open('myfile.txt')

In [142]:
myfile.read()

'Hello this is text file \nthis is the second line\nthis is third line\n'

In [143]:
myfile.read()

''

In [144]:
myfile.seek(0)

0

In [145]:
myfile.read()

'Hello this is text file \nthis is the second line\nthis is third line\n'

In [146]:
myfile.readline()

''

In [147]:
myfile.seek(0)

0

In [148]:
myfile.readline()

'Hello this is text file \n'

In [149]:
myfile.fileno()

5

In [150]:
myfile.close()

In [151]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [152]:
contents

'Hello this is text file \nthis is the second line\nthis is third line\n'

In [153]:
with open('myfile.txt', mode = 'r') as myfile:
    contents =myfile.read()

In [154]:
# if else elif

In [159]:
hungry = True
if hungry:
    print("ITS TRUE!")
else:
    print(" I am not hungry")

ITS TRUE!

In [160]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("car care")
elif loc == 'Bank':
    print('welcome to bank')
else:
    print("I dont know much")

welcome to bank

In [167]:
name = 'Samy'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Samy':
     print("Hello Samy")

Hello Samy

In [168]:
#for loop;

In [169]:
my_ierable=[1,2,33]
for iteam_name in my_ierable:
    print(iteam_name)

1
2
33

In [170]:
my_list =[1,2,3,4,5,6,7,8,9]

In [171]:
for eachIteam in my_list:
    print(eachIteam)

1
2
3
4
5
6
7
8
9

In [174]:
for eachIteam in my_list:
    if eachIteam % 2 ==0:
        print(eachIteam)

2
4
6
8

In [175]:
list_sum = 0
for eachIteam in my_list:
    list_sum = list_sum + eachIteam
    print(list_sum)

1
3
6
10
15
21
28
36
45

In [177]:
#tuple unpacking
mytuplist = [(1,2),(3,4),(5,6),(7,8)]
len(mytuplist)

4

In [178]:
for iteams in mytuplist:
    print(iteams)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [180]:
for a,b in mytuplist:
    print(a)

1
3
5
7

In [181]:
for a,b in mytuplist:
    print(b)

2
4
6
8

In [182]:
for a,b in mytuplist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [184]:
mymutlilist = [(1,2,3),(4,5,6),(7,8,9)]

In [185]:
for a,b,c in mymutlilist:
    print(b)

2
5
8

In [187]:
for a,b,c in mymutlilist:
    print(c)

3
6
9

In [188]:
for a,b,c in mymutlilist:
    print(b,c,a)

2 3 1
5 6 4
8 9 7

In [191]:
d = {'k1':1, 'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [193]:
d = {'k1':1, 'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [195]:
d = {'k1':1, 'k2':2,'k3':3}
for key,value in d:
    print(value)

1
2
3

In [196]:
d = {'k1':1, 'k2':2,'k3':3}
for key in d:
    print(key)

k1
k2
k3

In [201]:
x = 0
while x<5:
    print(f'The current value of x is {x}')
    x = x+1
else:
    print("x is not less then 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less then 5

In [205]:
x =[1,2,3,4]
for item in x:
    pass
print("end of script")

end of script

In [206]:
mystring ='samy'

In [208]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
y

In [211]:
x = 0
while x < 5:
    if x==2:
        break
    print(x)
    x +=1

0
1

In [212]:
#operators

In [213]:
mylist = [1,2,3]

In [216]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [217]:
idex_count =0
for letter in 'abcde':
    print('At index {} the letter is  {}'. format(idex_count, letter))
    idex_count +=1

At index 0 the letter is  a
At index 1 the letter is  b
At index 2 the letter is  c
At index 3 the letter is  d
At index 4 the letter is  e

In [218]:
#enumerate
# this will take generate charater and prints out index and value
word ='Haribo'
for i,l in enumerate(word):
    print(i)
    print(l)

0
H
1
a
2
r
3
i
4
b
5
o

In [219]:
#enumerate
# this will take generate charater and prints out index and value
word ='Haribo'
for i,l in enumerate(word):
    print(i)

0
1
2
3
4
5

In [220]:
#enumerate
# this will take generate charater and prints out index and value
word ='Haribo'
for i,l in enumerate(word):
    print(l)

H
a
r
i
b
o

In [221]:
#enumerate
# this will take generate charater and prints out index and value
word ='Haribo'
for i,l in enumerate(word):
    print(i,l)

0 H
1 a
2 r
3 i
4 b
5 o

In [225]:
mylist1 =[1,2,3,4,5]
mylist2 =['a','b','c','d','e']
for iteam in zip(mylist1,mylist2):
    print(iteam)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [226]:
'x' in [1,2,3]

False

In [227]:
'x' in ['x','y']

True

In [228]:
myString ='hello'

In [229]:
mylist =[]

for letter in myString:
    mylist.append(letter)

In [230]:
mylist

['h', 'e', 'l', 'l', 'o']

In [234]:
#comprehesions 

mylist =[letter for letter in myString]

mylist

['h', 'e', 'l', 'l', 'o']

In [235]:
#Methods

In [236]:
mylist =[1,2,3]

In [237]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [238]:
def name_function():
    print("hello")

In [239]:
name_function()

hello

In [253]:
def say_hello(names='harsha'):
    return 'hello' +names

In [254]:
result = say_hello()

In [255]:
result

'helloharsha'

In [256]:
#List

In [279]:
presidents=['Washington','Adems','Jefferson','Adems']

In [280]:
print('First item in the list: ' + presidents[0])

First item in the list: Washington

In [325]:
# Print first 3 values fo the string\
presidents=['Washington','Adems','Jefferson','Adems']
print('First three values of the string: ' + str(presidents[0:3]))
#Access all ( use loop )
print("loop throught list item...")
x = presidents.count("Adems")
# add list iteam
print(x)
presidents.append('Jackson')
print("We have added Jackson  "+ str(presidents))
x = presidents.sort()
print(presidents)
y = presidents.index('Washington')
print(y)
print('-----------------------------')
presidents.insert(1,'Maryland')
print(presidents)
presidents.pop(2)
print('pop method for the given list \n' + str(presidents))
presidents.reverse()
print(presidents)

presidents.clear()
print(presidents)

First three values of the string: ['Washington', 'Adems', 'Jefferson']
loop throught list item...
2
We have added Jackson  ['Washington', 'Adems', 'Jefferson', 'Adems', 'Jackson']
['Adems', 'Adems', 'Jackson', 'Jefferson', 'Washington']
4
-----------------------------
['Adems', 'Maryland', 'Adems', 'Jackson', 'Jefferson', 'Washington']
pop method for the given list
['Adems', 'Maryland', 'Jackson', 'Jefferson', 'Washington']
['Washington', 'Jefferson', 'Jackson', 'Maryland', 'Adems']
[]